<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="sitecorediff" type="Sitecore.Update.Configuration.ConfigReader, Sitecore.Update"/>
  </configSections>
  
  <appSettings>
    <add key="defaultDiffLocation" value="Z:\Sitecore Development\6.4\Update Package\UPT\Out"/>
  </appSettings>

  <sitecorediff>
    <commandfilters>
    </commandfilters>
    <dataproviders>
      <dataprovider id="filesystemmain" type="Sitecore.Update.Data.Providers.FileSystemProvider, Sitecore.Update">
        <param>$(id)</param>
      </dataprovider>
      <dataprovider id="snapshotprovider" type="Sitecore.Update.Data.Providers.SnapShotProvider, Sitecore.Update">
        <param>$(id)</param>
      </dataprovider>
    </dataproviders>

    <source type="Sitecore.Update.Data.DataManager, Sitecore.Update">
      <param>source</param>
      <path/>
      <serializationPath/>
      <dataprovider id="FileSystemMain"/>
      <filters>
        <allow type="any">*</allow>
      </filters>
      <tag></tag>
    </source>

    <target type="Sitecore.Update.Data.DataManager, Sitecore.Update">
      <param>target</param>
      <path/>
      <serializationPath/>
      <dataprovider id="FileSystemMain"/>
      <filters>
        <allow type="any">*</allow>
      </filters>
      <tag></tag>
    </target>
    <presets>
    </presets>
  </sitecorediff>
</configuration>